body {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

/* header setting */
.header {
    margin: 15px 0px 15px 0px ;
    font-size: 32px;
    background-color: #252522;
    display: flex;
    unicode-bidi: isolate;
}

.header-logo {
    font-family: serif;
    font-size: 40px;
    margin: 10px 40px 10px 20px;
    color: #ffff;
    padding: 10px 10px 10px 10px;
    float: left;
}

.nav ul {
    margin: 10px 10px 10px 10px;
    padding: 15px;
    color: #ffff;
    list-style-type: none;
    display: flex;
    gap: 40px;
}

/* main part */
.main {
    background-color: aqua;
    margin: 15px 10px 15px 10px;
    padding: 20px 20px 20px 20px;
    font-size: 16px;
}

.footer {
    background-color: #ceccf3;
}

