body {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

/* header setting */
.header {
    font-size: 32px;
    background-color: #f7f2b4;
    display: block;
    unicode-bidi: isolate;
}

.nav ul {
    margin: 30px 0 0 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* main part */
.main {
    font-size: 16px;
    background-color: #bdf7f7;
}

.footer {
    background-color: #ceccf3;
}

